.flex-class() {
  display:flex;
  flex:1;
}

body, html {
  display:flex;
  background-color: #000000;
  margin:0;
  height:100%;
  width:100%;
}

#react-root {
  display:flex;
  flex:1;
  height:100%;
}
.CharacterView,
.CampaignView,
.GameSystemView,
.DefaultView{
  display: flex;
  flex:1;
}
.ViewPlaceholderContainer {
  flex:1;
  display:flex;
  align-items: center;
  align-content: center;
  h3 {
    flex:1;
    font-size:30px;
    text-align: center;
    color: rgba(116, 69, 191, .4);
  }
}
.DefaultView{
  display: flex;
  flex:1;
  .DashboardModules{
    justify-content: center;
    margin: 0 0 20px;
    display: flex;
    flex:1;
    align-content: space-between;
    .Module {
      background-color: rgba(17, 13, 30, 1.00);
      display:flex;
      flex:1;
      &:first-child {
        margin-bottom:30px;
      }
      // max-height:400px;
      // min-height:200px;
      .moduleBody{
        flex:1;
        height:100px;
        display:flex;
        flex-direction: column;
        h3 {
          flex:1;
          align-self: center;
          font-size:20px;
          font-weight: 200;
          color: rgba(148, 9, 64, 1.00);
          text-align: center;
          align-items: center;
          margin: 70px 0 0 0;
        }
        h2 {
          align-self: center;
          flex:1;
          font-size:24px;
          font-weight: 400;
          color: rgba(255,255,255,1);
          text-align: center;
          align-items: center;
          margin: 5px 0 0 0;
        }
      }

      .seekButton {
        background-color: rgba(32, 21, 55, .25);
        display:flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 50px;
        height: 80px;
        top:50%;
        transition: all .3s ease;
        margin-top: -40px;
        &:hover {
                  background-color: rgba(32, 21, 55, .75);
        }
        &.left   {
          left: 0;
        }
        &.right  {
          right: 0;
        }
      }
      .ModuleHeader {
        display:flex;
        flex:1;
        flex-grow: 1;
        background-color: rgba(6, 6, 10, 1.00);
        min-height:45px;
        max-height:45px;
        justify-content: center;
        .HamburgNav {
          flex:1;
          max-width:40px;
          align-self: center;
        }
        h3 {
          flex:1;
          font-weight:400;
          letter-spacing: .1825em;
          line-height:45px;
          text-transform: uppercase;
          padding:0 10px;
          font-size: 1vmin;
          color: rgba(255,255,255,1);
          margin:0;
        }
      }
      &.Gamesystem {
        position: relative;
        min-width:400px;
        margin: 0 0 0px 25px;
        flex-direction: column;
        background-color: rgba(13, 11, 23, 1.00);
        display: flex;
        min-height:300px;
        max-height:400px;
        border: 3px solid rgba(0,0,0,.5);

        .moduleBody {
          flex:1;
          min-width:400px;
          overflow: hidden;
          justify-content: center;
          flex-grow: 1;
          overflow: hidden;
          overflow-x: scroll;
        }
        ul.communityModule{
          margin:0;
          padding:0;
          display:flex;
          max-width: 100px;
          // align-items: center;
          flex:1;
          justify-content: flex-start;
          flex-direction: row;
          min-height:200px;
          max-height:300px;

          // max-height:230px;
          li {
            flex:1;
            display:flex;
            margin:20px 5px;
            justify-content:center;
            // flex-shrink:0;
            // margin: 20px 0;
            min-width:220px;
            max-width:220px;
            a {
              flex:1;
              align-items: center;
              justify-content: center;
              background: url('../images/monsterbook.jpg') center center no-repeat;
              background-size: contain;
              transition: all .5s ease;
              &:hover {
                -webkit-filter: opacity(50%);
              }
              // background-color: white;
            }
          }
        }
      }
      &.Campaign {
        min-height:300px;
        position: relative;
        min-width:400px;
        margin: 0 0 0px 25px;
        flex-direction: column;
        border: 3px solid rgba(0,0,0,.5);

        &:first-child {
          margin-bottom: 35px;
        }
        .campaign_avatar {
          position:absolute;
          background-color: rgba(38, 30, 72, 1.00);
          background: url('../images/rogue.jpg') center center ;
          border: 3px solid white;
          width: 132px;
          border-radius: 66px;
          height: 132px;
          margin-left: -66px;
          margin-top: -76px;
          left:50%;
          top:50%;
        }
        .campaignBgContainer{
          flex:1;
          height:100px;
          -webkit-filter: grayscale(100%) !important;
          background: url('../images/galaxy.png') top center no-repeat;
          background-size: cover;
        }
      }
      &.Character {
        min-height:300px;
        max-width:350px;
        min-width:300px;
        flex-direction: column;
        border: 3px solid rgba(0,0,0,.5);

        .characterListContainer {
          display: flex;
          flex-direction: column;
          overflow:hidden;
          overflow-y: scroll;
          flex:1;
          .character {
            transition:all .3s ease;
            background-color: rgba(18, 12, 31, 1.00);
            border-bottom: 1px solid rgba(0,0,0,.5);
            flex: 1;
            min-height: 100px;
            max-height: 110px;
            margin-bottom:2px;
            display:flex;
            position:relative;
            &.selectedCharacter{
              background-color: rgba(0,0,0,.2);
            }
            .expGauge{
              position: absolute;
              height:2px;
              bottom:-3px;
              left:0;
              width:100%;
              display:flex;
              background-color: rgba(23, 81, 117, .5);
              .completion{
                background-color:rgba(23, 81, 117, .6);
                width:40%;

              }

            }
            .characterDetail{
              flex:1;
              margin-left:10px;
              align-self: center;
              color: rgba(255,255,255,1);
              p {
                &.characterName {
                  font-weight: 400;
                  color: rgba(148, 9, 64, 1.00);
                }
                margin:0;
                line-height:18px;
                font-size:13.5px;
              }
            }
            .characterAvatar {
              align-self:center;
              margin-left:10px;
              flex:1;    background-size: cover;
              max-width: 60px;
              height: 60px;
              background-position: center center;
              border-radius: 60px;
            }
          }
        }
      }
      &.Chat {
        min-height:300px;
        max-width:350px;
        min-width:300px;
        flex-direction: column;
        border: 3px solid rgba(0,0,0,.5);

        .chatContainer {
          display: flex;
          flex-direction: column;
          flex:1;
          .ChatBody {
            flex:1;
            overflow:hidden;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            flex:1;
            .chatBubble{
              transition: all .5s ease;
              flex:1;
              flex-grow: 0;
              min-height:80px;
              &.left {
                background-color: rgba(13, 11, 23, 1.00);
              }
              &.right {
                background-color: purple;
              }
            }
          }
          textarea {
            flex:1;
            outline: none;
            border:none;
            max-height:70px;
            margin:10px;
            border: 2px solid rgba(36, 26, 66, 1.00);
            border-radius:8px;
            resize: vertical;
            padding:10px;
            background-color: rgba(0,0,0,.6);
          }
        }
      }
    }
  }
}

.bgImageContainer{
  background: url('../images/galaxy.png') 50% 50% no-repeat;
    background-size:auto  100%;
    top: 0; bottom: 0; left: 0; right: 0;
    width:100%;
    height:100%;
    -webkit-filter: blur(6px) opacity(30%) saturate(50%);
    z-index:0;
    position:absolute;
}
.ApplicationFrame {
  .flex-class();
  justify-content: space-around;
  height:100%;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.silly {
  font-size:150px !important;
  color:red;
}
.ApplicationBody{
  .flex-class();
  flex-direction: column;
  position:relative;
  background-color: rgba(18, 15, 28, .8);
  nav {
    display:flex;
    // border-bottom:1px solid rgba(255,255,255,.2);

    ul {
      margin-bottom:0;
      display:flex;
      flex-direction: row;
      flex:1;

      li{
        list-style:none;
        display:flex;
        margin:0;
        a{
          flex:1;
          font-weight:200;
          font-size:13.5px;
          letter-spacing: .1em;
          text-decoration: none;
          text-transform: uppercase;
          margin:0 20px;
          color: rgba(255,255,255,1);
          line-height:60px;
          transition: all .2s ease;
          -webkit-box-shadow: inset 0 0px 0px 0px white;
          &:first-child{
            margin-left: 10px;
          }
          &:hover {
            -webkit-box-shadow: inset 0 6px 0px -4px white;

          }
        }
      }
    }
  }
  .ApplicationHeader {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    background: rgba(0,0,0,.6);

    background-size: cover;
    // transition: all .3s ease;
    // border-bottom:1px solid rgba(255,255,255,.2);

    .AppControlUtils {
      position: absolute;
      display:flex;
      padding:0px;
      right:20px;
      margin:0px;
      top: 10px;
      transition: all .2s ease;
      flex:1;
      li {
        display:flex;
        flex:1;
        align-items: center;
        padding:0px;
        margin:0px 13px;
        a {
          color: #fff;
          font-size: 22px;
          font-weight:600px;
          line-height:18px;
          margin: 0px;
          background-color: rgba(0,0,0,.1);
          border-radius: 40px !important;
        }
        &.ProfileBn{
          a {
            font-size:14px;
          }
        }
        &.SearchIcon    { }
        &.SettingsIcon  { }
        &.ProfileDropdown {
          transition: all .3s ease;
          background: url('../images/rogue.jpg') center center ;
          background-size:  contain;
          -webkit-box-shadow: 0px 0px 1px 1px rgba(255,255,255,.5);
          a {
            transition: all .3s ease;
            display: block;
            visibility: hidden;
          }
        }
      }
    }

    &.small {
      // background-color: rgba(40, 28, 75, 1.00) !important;
      .AppControlUtils {
        top: 10px;
        .ProfileDropdown{
          border-radius: 40px;
          height:40px;
          width:40px;
          a {
            width: 40px;
          }
        }
      }
    }

    &.large {
      background-color: rgba(128, 0, 128, 1.00) !important;
      .AppControlUtils {
        top: 20px;
        .ProfileDropdown{
          border-radius: 70px;
          height:70px;
          width:70px !important;
          a {
            width: 70px;
          }
        }
      }
    }

    .AppControl {
      position:absolute;
      top: 10px;
      left:20px;
      display:flex;
      flex:1;
      flex-direction: row;
      margin:0px;
      padding:0px;
      li {
        display:flex;
        flex:1;
        padding:0px;
        margin:0px;
        a {
          color: #fff;
          font-size:13.5px;
          line-height:18px;
          margin: 0px;
          padding:10px;
        }
      }
    }
  }

  .AppView {
    flex:1;
    display: flex;
    overflow:hidden;
    overflow-y: scroll;
    padding:20px 40px;
    p {
      &.lead {
        color:rgba(128, 0, 128, 1.00);
        font-size:26px;
        line-height:38px;
      }
      font-size:18px;
      line-height:30px;
    }
  }
}
@media screen and ( min-height: 600px ) {
  .Character,.Chat {
    max-height: inherit !important;
  }
  // .character {
  //   min-height: 80px;
  //   max-height: 90px;
  // }
}
@media screen and ( max-height: 900px ) {

  .character {
    min-height: 60px !important;
    max-height: 70px !important;
  }
  .chatBubble{
    min-height:60px !important;
  }
  .characterAvatar {

    max-width: 40px !important;
    height: 40px !important;
    border-radius: 40px !important;
  }
  .opt-sm {
    display: none !important;
  }
}

.ApplicationFooter {
  .flex-class();
  min-height: 40px;
  max-height: 40px;
  background-color: transparent;
  // border-top:1px solid rgba(255,255,255,.2);

}
.header-scroll {
  width:100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.scroll3::-webkit-scrollbar {
  background: transparent;
  width: 5px;
}

.scroll3::-webkit-scrollbar-thumb {
  background: rgba(128, 78, 198, 1.00);
}

.scroll3::-webkit-scrollbar-track {
  background: rgba(128, 78, 198, .5);
}

.vert-scroll {
  width:100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.scroll4::-webkit-scrollbar {
  background: transparent;
  height: 5px;
}

.scroll4::-webkit-scrollbar-thumb {
  background: rgba(128, 78, 198, 1.00);
}

.scroll4::-webkit-scrollbar-track {

  background: rgba(128, 78, 198, .5);
}


.character-scroll {
  width:100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
